<launch>
    <!-- Set the file_path to the path where you store the ...map.pcd -->
    <param name="map_path" type="string" value="$(find hw4)/maps/itri_downsample.pcd" />
    
  <node pkg="hw4" type="icp_localization" name="icp_localization" output="screen">
    <rosparam param="result_save_path" subst_value="True">$(arg save_path)</rosparam>
  </node>
 <!-- Set the rviz config path to yours  -->
 <!-- <node pkg= "rviz" type="rviz" name="rviz" args="-d $(find icp)/config/mid_1.rviz">
    <param name="use_sim_time" value = "true" />
 </node> -->
    
</launch>